@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('http://fonts.cdnfonts.com/css/averta-blackitalic');

*{
    margin:0;
    padding: 0;
    font-family: 'Averta-Regular', sans-serif;
    font-size: 14px;
   
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }  

.navbar{      
    color: white;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.navbar:hover{
    -webkit-box-shadow: 0 5px 5px #b3b2b2;
    -moz-box-shadow: 0 5px 5px #b3b2b2;
    box-shadow: 0 5px 5px #b3b2b2;

}
.leftside{
    position:fixed;
    z-index: 999;
    top:40%;
    right:59px;
    
}

.leftside li{
    list-style-type: none;
    padding: 20px;
    transition: .6s;
    color: white;
    position: relative;
    cursor:pointer;
}
.leftside ul{
    width:70px;
    position:absolute;
    overflow:hidden;
}
.leftside li i{
    font-size: 30px;
}
.leftside li:hover{
    padding: 20px 40px;
}
.leftside li:nth-child(1){
    background: #3b5998
}
.leftside li:nth-child(2){
    background: #00aced
}
.leftside li:nth-child(3){
    background: #007bb6
}
.hero1{
    height: 100px;
    width: 1200px;
}
.tcontainer{
    display:flex;
    justify-content: space-around;
}
.top-bar{
    
    background: #14a9e6;
    border-bottom: 3px solid #1e61ac;
    
    
    
}
.top-bar a{
    text-decoration: none;
    color: white;
}
.nav-link{
    text-decoration: blue
}

.phone-info{
    margin-top: 8px;
    color: black;
}
.con{
    background-color: #14a9e6;
    filter: blur(8px);
}
.main-corporate > ul >li{
    list-style-type: none;
}
.logo{
    width: 30vh;
    height: 10vh;
    
}

.cont{
    display: flex;
    padding: 40px;
    border-top: 3px solid #1e61ac;
}

.core{
    background: rgb(255,255,255,0.5);
    backdrop-filter: blur(15px);
    width: 100%;
       
   
}
.multiple-items{
    background: rgba(235, 218, 218, 0.5);
}
.multiple-items img{
    object-fit: cover;
}
.downlogo{
    width: 120px;
    height: 120px;
}


.down{
    margin-top: 20px
}
.display1{
    color: #14a9e6;
    text-transform: uppercase;
    font-size: 500%;
    text-shadow: 1px 1px 10px #000;
    font-family: 'Odibee Sans', cursive;
    
}
.aboutheading{
    color: #14a9e6;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;

}

.carousel-inner img{
    width: 100%;
    height: 100vh;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-40%)
}
.card{
   border: none 
}
.card-boxs{
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}
.card :hover{
    cursor: pointer;
    color: #14a9e6;
    
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #9fb8c0;
  }
.card :hover{
    opacity: 2;
}
 

.wrap{
    padding: 40px
} 

.text{
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.abouthero{
    background-attachment: fixed;
    background-image: url(/images/ocean.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 230px;
    object-fit: contain;
} 
.tourshero{
    background-attachment: fixed;
    background-image: url(/images/zebra.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 230px;
    object-fit: contain;

} 
.offerhero{
    background-attachment: fixed;
    background-image: url(/images/Safari-GettyImages.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 270px;
    object-fit: contain;
}

.offerhero2{
    background-attachment: fixed;
    background-image: url(/images/hero2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 230px;
    object-fit: contain;
}
.contacthero{
    background-attachment: fixed;
    background-image: url(/images/contacthero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 230px;
    object-fit: contain;
}
.vertical-center{
    margin: 0;
    position: absolute;
    top: 40%;
    margin-left: 80px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #14a9e6;
    text-transform: uppercase;
    font-size: 500%;
    text-shadow: 1px 1px 10px #000;
    font-family: 'Odibee Sans', cursive;
  }

.iata{
    width: 130px;
    height: 130px;
}



.ci{
    margin-top: 50px;
}

.testimonial {
    background-color: #ededed;
    height: 300px;
    margin: 30px auto;
  }
  
  .testimonial-item {
    text-align: center;
    margin-top: 50px;
  }
  
  .testimonial-item .fa {
    font-size: 3rem;
  }

  .vision-mission{
      display: flex;
  }

.row1{ 
    display: flex;
    justify-content: space-evenly;

}
.row2{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}
.row3{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

.row{
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

.nav-link {
    color: black !important;
    }

/* For 1366 Resolution */  
@media only screen   
and (min-width: 1030px)   
and (max-width: 1605px)  
{ 
    
    .top-bar{
        height: 40px;
    }
    .inbound{
        margin-left:300px;
        margin-right:300px
    }
    .leftside{}
    
}

@media only screen   
and (min-width: 320px)   
and (max-width: 575px)  
{ 
    .card{
        margin-top: 15px;
    }
    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #14a9e6;
        text-transform: uppercase;
        font-size: 500%;
        text-shadow: 1px 1px 10px #000;
        font-family: 'Odibee Sans', cursive;
      }
      
      .top-bar{
          display: flex;
          align-items: flex-end;
      }
      .downlogo{
          padding-bottom: 11px;
      }
     
      .vision-mission{
          flex-direction: column;
      }
      .row1, .row2, .row3{
          flex-direction: column;
      }
      .offerscontainer{
          flex-direction: column;
      }
      .hotels{
          flex-direction: column;
      }
    .navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{  display: block;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
     
     
    
    
}

	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{  display: block;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
	  